name: Java CI with Gradle

on:
  push:
    branches:
      - main
      - dev/**
      - hotfix/**
      - bugfix/**
  pull_request:
    branches:
      - main
      - dev/**
      - hotfix/**
      - bugfix/**

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5.0.0

      - name: Set up JDK 21
        uses: actions/setup-java@v5.0.0
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle Wrapper
        run: ./gradlew build
